@model IBshopDemo.Models.CrmMonthlyReport

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CrmMonthlyReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InChatQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InChatQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InCompCallQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InCompCallQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InVmQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InVmQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InCallQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InCallQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutAccNumEditQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutAccNumEditQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutsurveyQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutsurveyQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutComTrtQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutComTrtQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutVmQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutVmQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SejamQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SejamQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgCallDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgCallDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgCallWaitingDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgCallWaitingDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToalCallDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToalCallDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GanjinehIssuesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GanjinehIssuesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GanjinehIssuesVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GanjinehIssuesVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AndookhtehIssuesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AndookhtehIssuesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AndookhtehIssuesVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AndookhtehIssuesVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoharandServatIssuesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoharandServatIssuesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoharandServatIssuesVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoharandServatIssuesVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIssuesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIssuesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIssuesVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIssuesVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmcoursesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmcoursesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketOnlineQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketOnlineQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inticket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InSurveyCallQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InSurveyCallQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutSurveyCallQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutSurveyCallQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlineChatsurveyQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlineChatsurveyQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GanjinehTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GanjinehTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AndookhtehicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AndookhtehicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServatafarinanTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServatafarinanTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoharTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoharTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbCardTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbCardTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbCrowdTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbCrowdTicketQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchComplTicketQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchComplTicketQty)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Crmmrid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
