@model IEnumerable<IBshopDemo.Models.BranchesInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchManager)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranchCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BranchCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
