@model IEnumerable<IBshopDemo.Models.HrMonthlyReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HrpersonnelQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HrmhiredQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obqty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reqqty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentCvtoDep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RsgReq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedImp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gcissu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SrvAsgNewPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsuAsgNewPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GurReqFun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GurReqLtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PyrDedReqLtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendOutLtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendIntLtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecLtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerEntCnfQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreFailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacemntQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rrfail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RrfacFail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LobFailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloFailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblFailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrFailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MngRfailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrkFailQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PntFailQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrpersonnelQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrmhiredQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obqty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reqqty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentCvtoDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RsgReq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedImp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gcissu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SrvAsgNewPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsuAsgNewPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GurReqFun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GurReqLtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PyrDedReqLtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendOutLtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendIntLtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecLtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerEntCnfQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreFailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplacemntQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rrfail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RrfacFail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LobFailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloFailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TblFailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrFailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MngRfailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrkFailQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PntFailQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HrmonthlyreportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HrmonthlyreportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HrmonthlyreportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
