@model IBshopDemo.Models.BranchKpi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BranchKpi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WrsupReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WrsupReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WrongIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WrongIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrcCnf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrcCnf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WrongQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WrongQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrnReqQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrnReqQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseAvgTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseAvgTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kllevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kllevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIntMonPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIntMonPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienttoIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienttoIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrcClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrcClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MrkSpv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MrkSpv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KpibranchCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
