@model IBshopDemo.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbcrowdVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbcrowdVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbcardIssueQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbcardIssueQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KargozariBoursCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KargozariBoursCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrancheCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrancheCodeNavigation.BranchCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeCenter.IncomecenterId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
