@model IBshopDemo.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbcrowdVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbcrowdVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IbcardIssueQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IbcardIssueQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KargozariBoursCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KargozariBoursCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrancheCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrancheCodeNavigation.BranchCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeCenter.IncomecenterId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
