@model IEnumerable<IBshopDemo.Models.Kpidevelopment>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y table-responsive">


        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                </div>
            </div>
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header d-flex border-top rounded-0 flex-wrap py-md-0">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control" placeholder="Search Product" aria-controls="DataTables_Table_0"></label></div>
                        <div class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0">
                            <div class="dataTables_length mt-0 mt-md-3 me-3" id="DataTables_Table_0_length">
                                <label>
                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                        <option value="7">7</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="70">70</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                            <div class="dt-buttons">
                                <button class="dt-button buttons-collection dropdown-toggle btn btn-label-secondary me-3" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false"><span><i class="bx bx-export me-1"></i>Export</span><span class="dt-down-arrow">▼</span></button>
                                <a asp-action="Create">
                                    <button class="dt-button add-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                        <span>
                                            <i class="bx bx-plus me-0 me-sm-1"></i>
                                            <span class="d-none d-sm-inline-block">Add Product</span>
                                        </span>
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <table class="datatables-products table border-top dataTable no-footer dtr-column" aria-describedby="DataTables_Table_0_info" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RdinPrdImp)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdeCusNeed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NewTooldsat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PerImpPrdSur)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrdAwaPer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NewCusinSrvPrd)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SugCap)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SugInc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InvSugAvgTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SolutionAvgTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ColRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccsugRate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RdinPrdImp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdeCusNeed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewTooldsat)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerImpPrdSur)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrdAwaPer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewCusinSrvPrd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SugCap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SugInc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvSugAvgTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SolutionAvgTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ColRate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccsugRate)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.KpidevelomentCode">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.KpidevelomentCode">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.KpidevelomentCode">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        let table = new DataTable('#myTable');

    </script>

}

