@model IEnumerable<IBshopDemo.Models.MixProperty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonthNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServatIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServatRev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoharIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoharRev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrancheCodeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeCenter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonthNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServatIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServatRev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoharIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoharRev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrancheCodeNavigation.BranchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeCenter.IncomecenterId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MixIncomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MixIncomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MixIncomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
