@model IEnumerable<IBshopDemo.Models.BranchesMonthlyReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IbcardConflictBranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IbcrowdConflictBranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBcrowdKpiconflictQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursesQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnlineExamsQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursesNeedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicesToBranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandstoDevelopmentQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportsConflictsToBranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentCapitalConflicts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityReqQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SwsolvedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundSettlementQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundsConflictsQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendtoBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MrkpacTobranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrttoCusQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InpersonBranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchTickects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketConflictsQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchInfractionQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchReformQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchMonQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCompCheckedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccBranchQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCompQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchpersonnelQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelAssuranceReqQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelAdReqQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IbcardConflictBranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IbcrowdConflictBranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBcrowdKpiconflictQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnlineExamsQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesNeedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesToBranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandstoDevelopmentQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportsConflictsToBranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestmentCapitalConflicts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityReqQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwsolvedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundSettlementQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundsConflictsQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendtoBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MrkpacTobranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrttoCusQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InpersonBranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchTickects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketConflictsQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchInfractionQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchReformQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchMonQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCompCheckedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccBranchQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCompQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchpersonnelQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelAssuranceReqQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelAdReqQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranchMonthlyReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchMonthlyReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BranchMonthlyReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
