@model IBshopDemo.Models.Kpifinancial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kpifinancial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KpifinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KpifinCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtdecLegRe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtdecLegRe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RvwAccConflicts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RvwAccConflicts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RvwInvConflicts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RvwInvConflicts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevPlnBudPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevPlnBudPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncBudMeetPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncBudMeetPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemistakeFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemistakeFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcrFinRepPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcrFinRepPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CtrTimeDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtrTimeDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetConflict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetConflict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillIssueAvgTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillIssueAvgTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CnrctrInvoicesMatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CnrctrInvoicesMatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdrecintotalRec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdrecintotalRec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
