@model IEnumerable<IBshopDemo.Models.ProcessDesignMonthlyReport>

@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y table-responsive">


        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                </div>
            </div>
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header d-flex border-top rounded-0 flex-wrap py-md-0">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control" placeholder="Search Product" aria-controls="DataTables_Table_0"></label></div>
                        <div class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0">
                            <div class="dataTables_length mt-0 mt-md-3 me-3" id="DataTables_Table_0_length">
                                <label>
                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                        <option value="7">7</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="70">70</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                            <div class="dt-buttons">
                                <button class="dt-button buttons-collection dropdown-toggle btn btn-label-secondary me-3" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false"><span><i class="bx bx-export me-1"></i>Export</span><span class="dt-down-arrow">▼</span></button>
                                <a asp-action="Create">
                                    <button class="dt-button add-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                        <span>
                                            <i class="bx bx-plus me-0 me-sm-1"></i>
                                            <span class="d-none d-sm-inline-block">Add Product</span>
                                        </span>
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <table class="datatables-products table border-top dataTable no-footer dtr-column" aria-describedby="DataTables_Table_0_info" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Month)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MonthNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrcdQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RelPrcdQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InsQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RelInsQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RelReqQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FormQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrcDesign)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReviewPrc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AsmPrc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DlgQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IndexQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReviwIndxQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KpimonitoringQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MrkcommHold)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MrkDoneCmm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MrkFailCmm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DevCommHold)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DevDoneCmm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DevFailCmm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CrmcommHold)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CrmdoneCmm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CrmfailCmm)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Month)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MonthNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrcdQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RelPrcdQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RelInsQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RelReqQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrcDesign)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReviewPrc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AsmPrc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DlgQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IndexQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReviwIndxQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KpimonitoringQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MrkcommHold)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MrkDoneCmm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MrkFailCmm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DevCommHold)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DevDoneCmm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DevFailCmm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CrmcommHold)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CrmdoneCmm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CrmfailCmm)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ProcessDesignMrid">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ProcessDesignMrid">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ProcessDesignMrid">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        let table = new DataTable('#myTable');

    </script>

}

