@model IBshopDemo.Models.Kpihr

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kpihr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kpihrcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kpihrcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecEff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecEff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EduEfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EduEfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrnColeagPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrnColeagPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MistakeinPersonalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MistakeinPersonalInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalMistakePerc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalMistakePerc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColLoyPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColLoyPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EduCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EduCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProEduCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProEduCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MgmEduCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MgmEduCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenEduCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenEduCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PapConCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PapConCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntColCam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntColCam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqToNeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqToNeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IctsrvSat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IctsrvSat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColSat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColSat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutcallCostAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutcallCostAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecDelRat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecDelRat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HrRecDelRat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HrRecDelRat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
